#gameOverMessage {
  position: fixed;
  top: 30vh;
  left: 65vh;
  color: #ffffff;
}
.normal {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 40px;
  background: 
  url("./images/hmbg.jpg")
}
.dimBackGround {
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url("./images/hmbg.jpg");
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 40px;
}